{
  "env": {
    "browser": true,
    "node": true
  },  
  "extends": ["airbnb"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "quotes": ["error", "double"],
    "eol-last": ["error", "never"],
    "linebreak-style": ["error", "windows"],
    "indent": ["error", 4],
    "comma-dangle": 0
  }
}